.navbar-default {
    background-color : #343a40;
    border-color     : #e7e7e7;
    box-sizing: border-box;

    .navbar-brand {
        color       : rgba(255,255,255,.5);
        float       : left;
        height      : 50px;
        padding     : 15px 15px;
        font-size   : 18px;
        line-height : 20px;
        text-decoration  : none;
        background-color : transparent;

        &.active {
            color            : #fff;
            background-color : transparent;

            &:focus,
            &:hover {
                color            : #fff;
            }
        }

        &:focus,
        &:hover {
            color            : rgba(255,255,255,.75);
            cursor: pointer;
        }
    }
}

.navbar-nav {
    @media (min-width : 768px) {
        float  : right;
        margin : 0;
    }

    li {
        @media (min-width : 768px) {
            float : left;
        }
    }
}

.nav {
    display      : block;
    padding-left : 0;
    list-style   : none;

    & > li {
        position : relative;
        display  : block;

        & > a {
            position : relative;
            display  : block;
            padding  : 10px 15px;
        }
    }
}

.navbar {
    position      : relative;
    min-height    : 50px;
    margin-bottom : 20px;
    border        : 1px solid transparent;

    @media (min-width : 768px) {
        border-radius : 4px;
    }
}


.navbar-header {
    @media (min-width : 768px) {
        float : left;
    }
}

@media (min-width : 768px) {
    .navbar-nav > li > a {
        padding-top    : 15px;
        padding-bottom : 15px;
    }
}